.users-container {
    width: 100%;
}

.users-container ul {
    padding: 10px;
    margin-left: 10px;
}

.users-container ul li {
    margin: 10px;
    padding: 0;
}

.users-container ul li.green {
    color: #198754;
}

.metrics .card.green h3 {
    color: #198754;
}

.metrics .card.green {
    border-color: #198754;
}