.main {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,71,1) 35%, rgba(8,134,96,1) 44%, rgba(0,212,255,1) 100%);

margin: auto 10px;
width: auto;
height: 2000px;
}