.home {
  width: 50%;
}

.home .menu-item {
  display: none;
  padding: 5px;
}

.home .menu-item.show {
  display: block;
  width: 100%;
}

.home .menu-item .metrics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.home .separator {
  width: 100%;
  background-color: black;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home .nav-item {
  cursor: pointer;
  width: 50%;
}

.home .nav-link.active {
  background-color: #0d6efd;
  color: white;
}

.container-home {
  width: 100%;
  display: flex;
}

.container-home .users {
  width: 30%;
}

.container-home .home {
  width: 60%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .home {
    width: 100%;
  }

  .container-home {
    flex-direction: column;
  }

  .container-home .users {
    width: 100%;
  }

  .container-home .home {
    width: 100%;
  }
}